.menubar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 70px;
  margin-left: 300px;
  border-bottom: 1px solid lightgrey;
}

.userMenu {
  position: relative;
  width: 70px;
  height: 70px;
}

.userMenu:before {
  display: block;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f2be"
}

.userMenu ul {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 10px 0;
  width: 220px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.userMenu:hover ul {
  display: block;
}

.userMenu ul:before,
.userMenu ul:after {
  position: absolute;
  display: block;
  content: '';
  background: white;
}

.userMenu ul:before {
  top: -10px;
  right: 15px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  transform: rotate(45deg);
}

.userMenu ul:after {
  top: 0;
  right: 0;
  width: 50px;
  height: 20px;
}

.userMenu li {
  padding: 0 10px;
  line-height: 50px;
  position: relative;
  z-index: 1;
}

.userMenu li:hover {
  background: lightgrey;
}
