.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid lightgrey;
  overflow: hidden;
}

.sidebarMenu {
  width: calc(100% + 20px);
  height: 100%;
  overflow-y: scroll;
}

.sidebarMenuItem {
  position: relative;
  height: 50px;
}

.sidebarMenuItem:hover {
  height: auto;
}

.sidebarMenuItem:hover .sidebarSubmenu {
  display: block;
}


.sidebarMenuItem > div {
  position: relative;
  width: 300px;
  height: 50px;
  padding: 10px 10px 10px 60px;
  line-height: 30px;
}

.sidebarMenuItem:hover {
  cursor: pointer;
}

.sidebarMenuItem > div:hover {
  background: lightgrey;
}

.sidebarMenuItem::before {
  font-family: 'FontAwesome';
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 10px;
  content: ;
  width: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.sidebarMenuItem.apple::before      {content: "\f179";}

.sidebarMenuItem.behance::before    {content: "\f1b4";}

.sidebarMenuItem.github::before     {content: "\f09b";}

.sidebarMenuItem.facebook::before   {content: "\f230";}

.sidebarMenuItem.medium::before     {content: "\f23a";}

.sidebarMenuItem.amazon::before     {content: "\f270";}

.sidebarMenuItem.lastfm::before     {content: "\f202";}

.sidebarMenuItem.soundcloud::before {content: "\f1be";}

.sidebarMenuItem.trello::before     {content: "\f181";}

.sidebarMenuItem.reddit::before     {content: "\f281";}

.sidebarMenuItem.telegram::before   {content: "\f2c6";}

.sidebarMenuItem.mode::before   {content: "\f054";}



.sidebarSubmenu {
  display: none;
}

.sidebarSubmenuItem {
  height: 50px;
  padding: 10px 10px 10px 60px;
  line-height: 30px;
}

.sidebarSubmenuItem:hover {
  background: lightgrey;
}

.sidebarSubmenuItem:first-child {
  display: none;
}

.sidebarSubmenuItem:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
