.compact .sidebar {
  width: 60px;
  overflow: visible;
}

.compact .sidebarMenuItem > div {
  display: none;
}

.compact .sidebarMenuItem:hover {
  height: 50px;
  background: lightgrey;
}

.compact .sidebarMenuItem.mode::before {
  content: '\f054';
}

.compact .sidebarMenu {
  width: 60px;
  overflow-y: visible;
}

.compact .sidebarSubmenuWrapper {
  position: relative;
  overflow: hidden;
}
.compact .sidebarSubmenu {
  position: absolute;
  left: 60px;
  width: 220px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  background: white;
}

.compact .sidebarSubmenu ul:not(.sidebarSubmenuHeader) {
  position: relative;
  overflow-y: scroll;
  width: 240px;
  max-height: 284px;
  padding-top: 60px;
}

.compact .sidebarSubmenu ul {
  width: 240px;
}

.compact .sidebarSubmenuHeader {
  position: absolute;
  width: 100%;
}

.compact .sidebarSubmenuItem {
  position: relative;
  z-index: 1;
  padding: 10px;
}


.compact .sidebarSubmenuHeader ul:hover {
  background: white;
}

.compact .sidebarSubmenu::before,
.compact .sidebarSubmenu::after {
  position: absolute;
  display: block;
  content: '';
  background: white;
}

.compact .sidebarSubmenu::before {
  top: 15px;
  left: -8px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  transform: rotate(45deg);
}

.compact .sidebarSubmenu::after {
  top: 0;
  left: 0;
  width: 30px;
  height: 50px;
}

.compact .sidebarModeMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  background-color: white;
  z-index: 2;
  width: 59px;
}

.compact .sidebarSubmenuHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid lightgrey;
  background: white;
  z-index: 2;
}

.compact ul.sidebarSubmenuHeader {
  position: absolute;
  width: 100%;
}
